@model string

<div class="card">
    <h5 class="card-header">來自子頁面Child的問候:)</h5>
    <div class="card-body">
        <p> @Model </p>
    </div>
</div>


@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

}